.all-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  padding: 1.0em;
  border-radius: 5px;
  margin: 15px;
  background-color: #F8F8F8;
}

a {
  color: #73C373;
}

a:hover {
  text-decoration: none;
  color: 	#FF6347;
}

p {
  margin: 0px;
}

h1  {
  text-align: center;
  font-weight: 200;
  background-color:#73C373;
  padding: 20px;
  color: white;
}

h2  {
  color: #FF6347;
  font-weight: 200;
}

.center {
  text-align: center;
}

.space-above {
  margin-top: 20px;
}
